/* Animationn */
.efek{
    transition: 1.5s;
    transform: translate(-50px,0px);
}
.efek2{
    transform: translate(50px,0px);
}
.efek3{
    transition: 1s;
    opacity: 0;
    transform: translate(0px,-30px);
}

/* Costume css */
main{
    font-family: sans-serif;
}
.text-costume-1{
    color:#147872 ;
}
.bg-costume-1{
    background-color: #FFFF;
    color: black;
 }
 .bg-costume-1:hover{
     color:#808080;
 }
 
 .list-costume-1{
     color:black;
     cursor: pointer;
 }
 
 .list-costume-1:hover{
     background-color:#eaeaea;
 }
 
 .caption-costume-1{
    font-size: 13px;
    color: #eaeaea;
 }
 .card:hover{
    box-shadow: 0 10px 6px -6px #eaeaea;
    transform: scale(1.1);
    transition: .7s;
 }


/* Awal nav=================================================================*/
#Nav {
    position: absolute;
    z-index: 9999;
    left: 0;
    right: 0;
    top: 0;
}
#Nav a {
    color: white;
}
#Nav a:hover {
    color: #c0c0c0;
}



/* Awal header==============================================================*/
#header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    z-index: 99;
    width: 100%;
    height: 99vh;
    background-image: url(../images/BACKGROUND/PAKET-DURIAN-5-NEW.jpg);
    background-size: cover;
    background-position: 10%;
    background-attachment: fixed;
     filter: invert(1%);
}

#MyName {
    position: relative;
    z-index: 99;
    padding-top: 50vh;
    color: white;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.rounded-circle {
    opacity: 0;
}


/* Konten */
.event{
    z-index: 3;
}
.event::after{
    z-index: -99;
    content: '';
    display: block;
    width: 100%;
    height: 60%;
    background-image: linear-gradient(to bottom, rgba(2,2,2,2), rgba(0, 0, 0, 0));
    position: absolute;
    left: 0;
    top: 0;
}

/* Awal promote */
#promote{
    position: relative;
    background-image: url(../images/JEMBATAN-SARINGAN-2.jpg);
    background-size: cover;
    background-position: 50%;
    z-index:3;
}
#promote::after {
    z-index: -99;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(2,2,2,0.5), rgba(2,2,2,0.5));
    position: absolute;
    left: 0;
    bottom: 0;
}

